@model PagedList.IPagedList<RestoBook.Models.ViewModels.ViewModelGroupRestaurants>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lister";
}

<div class="container">
    <h2>Lister</h2>
 
        @*@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Ville, rue, nom du restaurant", required = "required" })*@
  
    @Html.Partial("_Search",(string)ViewBag.CurrentFilter)

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/Images/restaurant.jpg" width="100%" height="100px" />
                    </div>
                    <div class="col-md-5">
                        <span><a href="@Url.Action("Details","Restaurant", new { id = item.Id })">@Html.DisplayFor(m => item.Nom)</a></span>
                        <span>@Html.TextBoxFor(m => item.Notation, new { @type = "number", @class = "note" })</span>
                        <span>
                            Cuisine:
                            @foreach (var itemCuisine in item.ListCuisine)
                            {
                                <a href="#">@Html.DisplayFor(m => itemCuisine)</a>
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Lister",
    new { page, currentFilter = ViewBag.CurrentFilter }))
</div>

@section lister{
    @Styles.Render("~/Content/Css/stars-rating")
    @Styles.Render("~/Content/Css/pagingList")
    @Scripts.Render("~/bundles/stars-rating")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".note").rating({
                'readonly': true,
                'showClear': false,
                'showCaption': false,
                'size': 'xs',
            });
        });
    </script>
}