@model PagedList.IPagedList<RestoBook.Models.ViewModels.ViewModelGroupRestaurants>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lister";
}

<div class="container">
    @*@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Ville, rue, nom du restaurant", required = "required" })*@
    <div id="lssearch">
        <div class="row">
            @Html.Partial("_Search", (string)ViewBag.CurrentFilter)
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <p>block search</p>
        </div>
        <div class="col-md-8">
            @foreach (var item in Model)
            {
                <div class="media lsRestaurant">
                    <div class="media-left">
                        <a href="@Url.Action("Details","Restaurant", new { id = item.Id })">
                            <img class="media-object" alt="te" src="~/Content/Images/restaurant.jpg" />
                        </a>
                    </div>
                    <div class="media-body content-restaurant">
                        <h4 class="media-heading"><a href="@Url.Action("Details","Restaurant", new { id = item.Id })">@Html.DisplayFor(m => item.Nom)</a></h4>
                        <span>@Html.TextBoxFor(m => item.Notation, new { @type = "number", @class = "note" })</span>
                        <span>
                            Cuisine:
                            @foreach (var itemCuisine in item.DictCuisine)
                            {
                                <a href="@Url.Action("ListerRestaurantCuisine","Restaurant", new { id = itemCuisine.Key })">@Html.DisplayFor(m => itemCuisine.Value)</a>
                            }
                        </span>

                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section lister{
    @Styles.Render("~/Content/Css/stars-rating")
    @Styles.Render("~/Content/Css/pagingList")
    @Scripts.Render("~/bundles/stars-rating")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".note").rating({
                'readonly': true,
                'showClear': false,
                'showCaption': false,
                'size': 'xs',
            });
        });
    </script>
}