@model PagedList.IPagedList<RestoBook.Models.ViewModels.ViewModelGroupRestaurants>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lister";
}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                @Html.Action("_Filter")
            </div>

            <section class="col-md-8">
                Section
                <div class="row">
                    @foreach (var item in Model)
            {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bgblock list-restaurant">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <a href="@Url.Action("Details", "Restaurant", new { id = item.Id })">
                                                <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.BytePicture)" alt="@item.NamePicture"/>
                                            </a>
                                        </div>
                                        <div class="col-md-7">
                                            <h4><a href="@Url.Action("Details","Restaurant", new { id = item.Id })">@Html.DisplayFor(m => item.Nom)</a></h4>
                                            <span>@Html.TextBoxFor(m => item.Notation, new { @type = "number", @class = "note" })</span>
                                            <span>
                                                Cuisine:
                                                @foreach (var itemCuisine in item.DictCuisine)
                                                {
                                                    <a href="@Url.Action("Lister","Restaurant", new { search = itemCuisine.Value })">@Html.DisplayFor(m => itemCuisine.Value)</a>
                                                }
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    @Html.PagedListPager(Model, page => Url.Action("Lister",
                            new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </section>
        </div>
    </div>
</div>

@section lister{
    @Styles.Render("~/Content/Css/stars-rating")
    @Styles.Render("~/Content/Css/pagingList")
    @Scripts.Render("~/bundles/stars-rating")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".note").rating({
                'readonly': true,
                'showClear': false,
                'showCaption': false,
                'size': 'xs',
            });
            $("#toggleType").accordion();
        });
    </script>
}
