@model RestoBook.Models.ViewModelRestaurant

@{
    ViewBag.Title = "Proposer";

}

<div class="container">
    @using (Html.BeginForm("Proposer", "Restaurant", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h4>ViewModelRestaurant</h4>
        <hr />

        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.m_restaurant.lb_nom, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.m_restaurant.lb_nom, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.m_typecuisne.lb_cuisne, new { @class = "control-label" })
            @Html.ListBoxFor(m => m.SelectedItemsCuisine, new MultiSelectList(Model.ItemsCuisine, "Id_Cuisine", "lb_cuisne"), new { @class = "form-control chosen-select", data_placeholder = "Choisir" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.m_ville.lb_ville, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.m_ville.lb_ville, new { @class = "form-control" })
            <div class="checkbox">
                <label>
                    @Html.CheckBox("EmptyVille")
                    Votre ville n'est pas dans la liste
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.m_adresse.lb_rue, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.m_adresse.lb_rue, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.m_adresse.lb_codepostal, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.m_adresse.lb_codepostal, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.m_restaurant.lb_web, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.m_restaurant.lb_web, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.m_restaurant.lb_tel, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.m_restaurant.lb_tel, new { @class = "form-control" })
        </div>

        <div class="form-group">

        </div>


        <h1>Pure CSS Star Rating Widget</h1>
        <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" />
            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" />
            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" />
            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" />
            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" />
            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>


        <div class="form-group">
            <button type="submit" class="btn btn-default">Soumettre</button>
        </div>

    }
</div>
@section chosen{
    @Styles.Render("~/Content/Css/chosen")
    @Styles.Render("~/Content/Css/jqueryui")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select").chosen();
            $("#m_ville_lb_ville").autocomplete({
                source: "@(Url.Action("AutoCompleteGetVille", "Restaurant"))",
            });
         
        });
    </script>
}