
@{
    ViewBag.Title = "Index";
}
<div>
    <img src="~/Content/Images/Screen-Shot-2015-11-19-at-2.01.32-PM.png" alt="home" class="img-responsive" />
</div>

<div class="container">
    @*@using (Html.BeginForm("SearchIndex", "Home", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    @Html.TextBox("SearchString",ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Ville, rue, nom du restaurant", required = "required" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Recherche</button>
                    </span>
                </div>
            </div>
        </div>
    }*@

    @Html.Partial("_Search")
</div>

@*@section home{
    @Styles.Render("~/Content/Css/jqueryui")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/myautocomplete")
}*@

